* {
  box-sizing: border-box;
}

body {
  color: #000000;
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  overflow-x: hidden;
  background-color: rgba(128, 128, 128, 0.199);
}
ul {
  list-style: none;
}
